.projects {
    text-align: center;
    margin-bottom: 10%;
    margin-top: 10%;
}

.projects-card {
    display: flex;
    justify-content: space-around;
    flex-flow: row wrap;
    justify-content: space-around;
    margin: auto;
    width: 55%;
    margin: center;
}

.projects-card-1 img {
    width: auto;
    /* height: 180px; */
}

.projects-card-1 {
    /* border: 1px solid black; */
    border-radius: 8%;
    margin-bottom: 40px;
    box-shadow: 13px -12px whitesmoke;
}

.projects-card-2 {
    border: 1px solid black;
    border-radius: 8%;
    margin-bottom: 40px;
    box-shadow: 13px -12px whitesmoke;
}

.projects-card-3 {
    border: 1px solid black;
    border-radius: 8%;
    margin-bottom: 40px;
    box-shadow: 13px -12px whitesmoke;
}

.projects-card-4 {
    border: 1px solid black;
    border-radius: 8%;
    margin-bottom: 40px;
    box-shadow: 13px -12px whitesmoke;
}