.tech-skills-img {
    display: flex;
    justify-content: space-around;
    flex-flow: row wrap;
    justify-content: space-around;
    margin: auto;
    width: 55%;
    margin: center;
}

.tech img {
    width: 70px;
    height: 70px;

}

.tech {
    margin: 25px;
    /* position: relative; */
    text-align: center;
}
.tech-skills{
    text-align: center;
}